*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}
html{
    box-sizing: inherit;
    scroll-behavior: smooth;
}


nav{
    margin-top: -10px;
    padding-top: 10px;
   height: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
  margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
 

nav ul{
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}
nav ul li{
    list-style-type: none;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul img{
    width: 100px;
    margin-right: auto;
}
.intro-image{
	 background-image: url('../images/prep.jpeg');
	background-position:center;
	background-size:100%;
	height:30vw;

}
.cover{
	background-color:rgba(127,127,127,0.8);
	text-align: center;
	color:white;
	width:100%;
	height:20vh;
	position:absolute;
	top:150px;
	padding-top:20px;
	border-radius:5px;
}
.cover p{
	margin-top:10px;
}
.main_section{
    margin-top: 2%;
}
.main, .about-main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: justify;
    width: 75%;

}
.main h1, .about-main h1, .about-main h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.main p{
    margin-bottom: 50px;
    line-height: 25px;
}
.about-main p{
    line-height: 25px;
}
.main_text a{
    background: #0e917af8;
    border-radius:5px;
    background: #0e917af8;
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    padding: 12px 25px;
    transition: transform 0.3s;
    
}
.main_text i{
	 color: #fff;
    transition: transform 0.3s;
    
    }
.main_text a:hover{
	transform: translateX(7px);
}

/* scroller */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #e2e3e3;
    border-radius: 15px;
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #0e917af8;
}

.main_text {
    margin-right: 70px;
}
.about-main h3{
    margin-top: 0;
    margin-bottom: 10px;
}
.main_image img{
    width: 300px;
    max-width: 1200px;
}
.about_text{
     margin-left: 200px;
}

.about-main{
    flex-direction: row;
}
footer{
    border-top: 1px solid lightgray;
    background-color: ghostwhite;
   margin-top: 50px;
   bottom:0;
}
footer .footer_main{
    display: flex;
}
footer .footer_tag{
    margin-top: 30px;
}

footer a{
    display: block;
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: blue;
}
footer p,footer a{
    font-size: 0.9em;
    margin-top: 1em;
}
footer p.end{
text-align: center;
color: gray;
margin-top: 3em;
}
footer a{
	display:inline-block;
}
@media only screen and (max-width: 720px){
h1{
	font-size:22px;
}
h3{
	font-weight:500;
}
p{
	font-size:15px;}
.intro-image{
        height:60vw;

}
.cover{
        padding-top:30px;
}
    .main, .about-main{
    flex-direction: column-reverse;
    margin-top: 40px;
}
.main_text p,.main_text h1{
    margin-left: -10px;
}
.about-main p, .about-main h1, .about-main h3{
    margin-left: -200px;
}

footer .footer_main{
    flex-direction: column;
}
footer .footer_tag{
    margin-left: 37%;
    text-align: center;
}

@media only screen and (max-width: 620px){
 
    .main, .about-main{
    flex-direction: column-reverse;
    margin-top: 40px;
}
.main_text {
    margin-right: auto;
}
.about_text {
     margin-left: auto;
}
.about-main h1, .about-main h3{
    padding-left: 50%;
}
.about-main p{
     margin-left: auto;
}
.main_image img{
    margin-top: 10px;
    }

footer .footer_main{
    flex-direction: column;
}
footer .footer_tag{
    margin-left: 37%;
    text-align: center;
}
}
