
 /* Custom CSS for Landing Page */
body {
    background-color: #fff;
    font-size: 16px;
  }
  
  .navbar-brand {
    color:black;
    font-family: Tahoma, cursive;
    
  }
  
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: #1b1b32;
    font-size:1em;
    text-transform:uppercase;
  }
 .dropdown-item{
	  font-size:0.7em;
	  text-transform:uppercase;
 } 
  .form-control {
    border: 0.1em solid lightgray;
    height:2.3em;
    font-size:1em;
  }
  .btn-outline-success{
	  width:10em;
	  font-size:0.7em;
	  border-radius:4px;
    font-weight:bold;
  }
  
  .btn-outline-success,
  .btn-outline-success:focus,
  .btn-outline-success:active,
  .btn-outline-success:hover {
    color: white;
    border-color: #1b1b32;
    background-color: #1b1b32;

  }
  
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited {
    background-color:#1b1b32;
  }
  
  #bs:hover,
  #bt:hover {
    opacity: 70%;
  }
  
  .top-left {
    position: absolute;
    top: 300px;
    left: 20px;
    color: white;
  }
  
  #img-txt {
    font-family: 'Playfair Display', serif;
    color: #0dd6c5;
  }
  
  /* Hero section */
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url('../images/prep.jpeg');
    background-size: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px 0;
    text-align: center;
    background-attachment: fixed;

  }
  
  .hero-title {
    font-size: 1.5em;;
    margin-bottom: 20px;
    color: #1b1b32;
    font-weight: 600;
    font-family: Tahoma;
  }
  
  .hero-subtitle {
    font-size: 1em;
    color: #777;
  }
  
  .section-title {
    font-size: 1em;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .section-description {
    font-size: 1em;
    color: #777;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Container Styles */
  .container1 {
    margin-top: 50px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
   .something-about-app {
	   margin-top:1em;
    text-align: justify;
    padding:7% 15%;
    padding-bottom: 0;
    font-size: 1em;
  }

  form {
    margin-bottom: 20px;
  }
 
  .btn:hover, .btn-primary:hover, input[type="submit"]:hover{
	   color:#000;
	   background-color:#fff;
	   border-color:#1b1b32;
	   
   }


 @media only screen and (max-width:767px){
	   .card-img-top{
		       height: 40vw;
	       }
	       
       }

