/*
 * Search Results CSS
 */

body {
    font-family: sans-serif;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
  }

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .col-md-4 {
    flex: 1;
    max-width: 250px;
  }

  .card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 14px;
  }

  .btn {
    background-color: #0dd6c5;
    color: #fff;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #000000;
  }
