/* about.css */
body {
  background-color: #f5f5f5;
  font-size:16px;
}

.nav-item {
  color:black;
  text-transform:uppercase;
  font-size:1.2em;
}
.navbar-nav{
	color:black;
}
a.nav-link{
	color:black;
}
  /* About section */
h1.section-title{
 	text-align:center;
	font-weight:600;
	font-size:1.5em;
}
  .about {
    padding: 50px 0;
    text-align: justify;
  } 
  .about-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  
  .about-text {
    font-size: 18px;
    color: #777;
  }
  
  .about-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Footer section */
  .footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: #777;
  }
  
